@inherits LayoutComponentBase
@using HyperSloopApp.Data;
@inject AppService appservice


<AuthorizeView>
    <Authorized>
        @if (appservice.Instantiate(context.User.Identity.Name))
        {
            <div class="page">
                <div class="sidebar">
                    <NavMenu />
                </div>

                <div class="main">
                    <div class="top-row px-4 auth">
                        <LoginDisplay />
                        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
                    </div>

                    <div class="content px-4">
                        @Body
                    </div>
                </div>
            </div>
        }

        else
        {
            <h1>Sign in is needed to use HyperSloop.</h1>
            //add links to sign in to create account.
        }
    </Authorized>
    <NotAuthorized>

    </NotAuthorized>
</AuthorizeView>




@code{

}
