@inject DialogService dialogService
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="neilButton">
                    <RadzenButton Text="Got It" Click="() => dialogService.Close(true)" Style="margin-bottom: 10px; width:200px" />
                </div>
            </div>
        </div>
    </div>
</div>
@code {

}
